<div class="bg-light">
    <h1>User List</h1>
    <hr />
    <div class="action-header">
        <button type="button" class="btn btn-primary" routerLink="/user/0">
            ADD USER
        </button>
        <br /><br />
    </div>
   <div class="text-center">
    <table *ngIf="usersData" class="table table-striped table-dark">
        <thead>
            <tr class="text-white">
                <th class="text-center">ID</th>
                <th class="text-center">Name</th>
                <th class="text-center">Age</th>
                <th class="text-center">Email</th>
                <th class="text-center">Phone</th>
                <th class="text-center">Address</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of usersData.users">
                <td>{{ user.id }}</td>
                <td>{{ user.firstName }} {{ user.lastName }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.address.address }}, {{ user.address.city }}, {{ user.address.state }}</td>
                <td>
                    <button type="button" class="btn btn-info mx-3" routerLink="{{'/user/' + user.id}}">EDIT</button>
                    <button type="button" class="btn btn-danger">DELETE</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="!usersData" class="pt-4">
        <div class="spinner-border text-primary" role="status">

        </div>
    </div>
   </div>
</div>